<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.DepartamentoMapper">
	<!-- typeAlias type="entelgyPracticasBack.model.Departamento" alias="Departamento"/-->
	
	<select id="selectAllDept" resultType="entelgyPracticasBack.model.Departamento">
		SELECT * FROM Departamentos
	</select>
  
	<select id="selectDeptNomb" resultType="entelgyPracticasBack.model.Departamento">
		SELECT nombreDpto FROM Departamentos
	</select>
  
</mapper>