<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.WeatherMapper">
	<!-- typeAlias type="entelgyPracticasBack.model.Weather" alias="Weather"/ -->

	<select id="selectAllWeather"
		resultType="entelgyPracticasBack.model.WeatherSelect">
		SELECT * FROM Weather
	</select>
	
	<select id="selectAllWeatherEmp"
		resultType="entelgyPracticasBack.model.WeatherEmp">
		SELECT * FROM weatherEmp
	</select>

	<insert id="insertWeather">
		insert into Weather (country, name,  localtimeC, observation_time, temperature, wind_speed, wind_dir, precip, humidity)
		values (#{location.country},#{location.name},#{location.localtimeC},#{current.observation_time},#{current.temperature},
		#{current.wind_speed},#{current.wind_dir},#{current.precip},#{current.humidity})
	</insert>
	
	<insert id="insertWeatherQuery">
		insert into weatherEmp (nDIEmp, country, name,  localtimeC, observation_time, temperature, wind_speed, wind_dir, precip, humidity)
		values (#{nDIEmp},#{country},#{name},#{localtimeC},#{observation_time},#{temperature},
		#{wind_speed},#{wind_dir},#{precip},#{humidity})
	</insert>

</mapper>